<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/admin/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

<div id="main-wrapper">

    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html">
                <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
            </a>
        </div>
    </div>

    <div class="header">
        <div class="header-content clearfix">

            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">
                <div class="input-group icons">


                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">


                    <li class="icons dropdown">
                        <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                            <span class="activity active"></span>
                            <img src="images/user/1.png" height="40" width="40" alt="">
                        </div>
                        <div class="drop-down dropdown-profile   dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span>
                                            <div class="badge gradient-3 badge-pill badge-primary">3</div>
                                        </a>
                                    </li>

                                    <hr class="my-2">
                                    <li>
                                        <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                    </li>
                                    <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li>

                    <a href="/dashboard" aria-expanded="false">
                        <i class="icon-badge menu-icon"></i><span class="nav-text">dashboard</span>
                    </a>
                </li>

                <li class="nav-label">Features</li>

                <li>

                    <a href="/products/list" aria-expanded="false">
                        <i class="icon-badge menu-icon"></i><span class="nav-text">Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>

                    <a href="/admin/orders" aria-expanded="false">
                        <i class="icon-badge menu-icon"></i><span class="nav-text">Xử Lí Đơn Hàng</span>
                    </a>

                </li>

            </ul>
        </div>
    </div>
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid mt-4">
            <h2>Danh sách sản phẩm</h2>
            <a href="/products/create" class="btn btn-primary">Thêm sản phẩm mới</a>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Mô tả</th>
                    <th>Danh mục</th>
                    <th>Số lượng</th>
                    <th>Thao tác</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td>
                        <img th:src="@{${product.image}}" alt="Ảnh sản phẩm" style="width: 100px; height: 100px;">
                    </td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${productQuantities[product.id] != null ? productQuantities[product.id] : 0}"></td>

                    <td>
                        <a th:href="@{'/products/edit/' + ${product.id}}" class="btn btn-sm btn-warning">Sửa</a>
                        <a th:href="@{'/products/delete/' + ${product.id}}" class="btn btn-sm btn-danger"
                           onclick="return confirm('Xác nhận xoá sản phẩm này?')">Xoá</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>

        <!-- #/ container -->
    </div>

    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
            </p>
        </div>
    </div>
</div>
<script src="plugins/common/common.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/settings.js"></script>
<script src="js/gleek.js"></script>
<script src="js/styleSwitcher.js"></script>
<script src="./js/dashboard/dashboard-2.js"></script>
<script>
    window.localStorage.clear();
    $(document).ready(function () {

        $('#list-items').html(localStorage.getItem('listItems'));

        $('.add-items').submit(function (event) {
            event.preventDefault();

            var item = $('#todo-list-item').val();
            if (item) {
                $('#list-items').append("<li><div class='round d-inline-block'><input type='checkbox' id='checkbox' /><label for='checkbox'></label></div><label for='checkbox'>" + item + "</label><a class='remove'><i class='fa fa-trash'></i></a></li>");

                localStorage.setItem('listItems', $('#list-items').html());

                $('#todo-list-item').val("");
            }

        });

        $(document).on('change', '.checkbox', function () {
            if ($(this).attr('checked')) {
                $(this).removeAttr('checked');
            } else {
                $(this).attr('checked', 'checked');
            }

            $(this).parent().toggleClass('completed');

            localStorage.setItem('listItems', $('#list-items').html());
        });

        $(document).on('click', '.remove', function () {
            $(this).parent().remove();

            localStorage.setItem('listItems', $('#list-items').html());
        });

    });
</script>
</body>

</html>