<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Freshcery | Groceries Organic Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/sb-bistro/sb-bistro.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/packages/o2system-ui/o2system-ui.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/packages/owl-carousel/owl-carousel.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/packages/cloudzoom/cloudzoom.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/packages/thumbelina/thumbelina.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/packages/bootstrap-touchspin/bootstrap-touchspin.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/theme.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/custom.css">
</head>
<body>
<!-- Include header fragment -->

<div id="page-content" class="page-content">
    <div class="banner">
        <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('/assets/img/bg-header.jpg');">
            <div class="container">
                <h1 class="pt-5">
                    Register Page
                </h1>
                <p class="lead">
                    Save time and leave the groceries to us.
                </p>

                <!-- Display validation errors -->
                <div th:if="${#fields.hasErrors('${user.*}')}" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('user.*')}" th:text="${err}"></li>
                    </ul>
                </div>

                <div class="card card-login mb-5">
                    <div class="card-body">
                        <form class="form-horizontal" th:action="@{/register}" th:object="${user}" method="post">
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <select class="form-control" th:field="*{userType}" required>
                                        <option value="">-- Select User Type --</option>
                                        <option value="customer">Register as Customer</option>
                                        <option value="staff">Register as Staff</option>
                                    </select>
                                    <small class="text-danger" th:if="${#fields.hasErrors('userType')}" th:errors="*{userType}"></small>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <input class="form-control" type="text" th:field="*{fullName}" required placeholder="Full Name">
                                    <small class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></small>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <input class="form-control" type="email" th:field="*{email}" required placeholder="Email">
                                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <input class="form-control" type="tel" th:field="*{phoneNumber}" required placeholder="Phone">
                                    <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <select class="form-control" th:field="*{gender}" required>
                                        <option value="">-- Select Gender --</option>
                                        <option value="true">Male</option>
                                        <option value="false">Female</option>
                                    </select>
                                    <small class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></small>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <textarea class="form-control" th:field="*{address}" placeholder="Address"></textarea>
                                    <small class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-md-12">
                                    <input class="form-control" type="text" th:field="*{username}" required placeholder="Username">
                                    <small class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" th:field="*{password}" required placeholder="Password">
                                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" th:field="*{confirmPassword}" required placeholder="Confirm Password">
                                    <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <input id="checkbox0" type="checkbox" name="terms" required>
                                        <label for="checkbox0" class="mb-0">I Agree with <a href="terms.html" class="text-light">Terms & Conditions</a> </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-center mt-4">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Register</button>
                                </div>
                            </div>
                            <div class="form-group row text-center mt-2">
                                <div class="col-md-12">
                                    <p class="text-light">
                                        Already have an account? <a href="/login" class="text-light"><u>Login</u></a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include footer fragment -->

</body>
</html>
