<!-- src/main/resources/templates/fragments/header.html -->
<div th:fragment="header">
    <div class="nav-header">
        <div class="brand-logo">
            <a href="/admin/dashboard">
                <b class="logo-abbr"><img src="/admin/images/logo.png" alt=""></b>
                <span class="logo-compact"><img src="/admin/images/logo-compact.png" alt=""></span>
                <span class="brand-title"><img src="/admin/images/logo-text.png" alt=""></span>
            </a>
        </div>
    </div>

    <div class="header">
        <div class="header-content clearfix">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">
                <div class="input-group icons">
                    <!-- Add optional search/icon here -->
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown">
                        <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                            <span class="activity active"></span>
                            <img src="/admin/images/user/1.png" height="40" width="40" alt="User">
                        </div>
                        <div class="drop-down dropdown-profile dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li><a href="/admin/setting"><i class="icon-user"></i> Profile</a></li>

                                    <li><a href="/logout"><i class="icon-key"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
