<!-- src/main/resources/templates/fragments/sidebar.html -->
<div th:fragment="sidebar">
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="/admin/dashboard" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-label">Features</li>
                <li>
                    <a href="/products/list" aria-expanded="false">
                        <i class="icon-badge menu-icon"></i><span class="nav-text">Quản lý sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/orders" aria-expanded="false">
                        <i class="icon-badge menu-icon"></i><span class="nav-text">Xử lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/customers" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Khách Hàng</span>
                    </a>
                </li>
                <!-- Add more features as needed -->
            </ul>
        </div>
    </div>
</div>
